@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Raleway";
    color: #FFFFFF;
}

.header {
    position: sticky;
    z-index: 1;
    margin-top: 60px;
}

.nav_list {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

.list_item {
    font-size: 24px;
    font-weight: 500;
}

.list_item a {
    text-decoration: none;
    color: #FFFFFF;
    text-transform: uppercase;
}

.list_item_imgs a{
    padding-right: 25px;
}

.list_item_imgs a:last-child {
    padding-right: 0;
}

.title_section1 {
    text-transform: uppercase;
    font-size: 48px;
}

.subtitle_section1 {
    font-weight: 400;
    font-size: 24px;
}

.section1 {
    margin-top: -124px;
    background-image: url(./imgs/420-fourtwoo-h1f_ERQhyv8-unsplash\ 1.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.gradient {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.86) 23.57%, rgba(0, 0, 0, 0) 100%);
    z-index: 2;
    min-height: 100vh;
    width: 100%;
}

.text_section1 {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.grid-box {
    display: grid;
    grid-template-areas: 
    "a b"
    "a c";
    color: black;
    font-size: 28px;
    font-weight: 400;
    gap: 70px;
}

.section2 {
    margin-top: 90px;
}

.container {
    max-width: 1040px;
    margin: auto;
}

.box-text {
    max-width: 564px;
}

.new {
    background-color: black;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 40px;
    height: 80px;
    font-weight: 700;
    font-size: 48px;
    text-transform: uppercase;
    margin-top: 94px;
}

.new h3 {
    margin-left: 218px;
}

.grid-box-card {
    margin-top: 62px;
    display: grid;
    grid-template-columns: 550px 447px;
    gap: 43px;
    margin-bottom: 110px;
}

.imgs-grid-box {
    max-width: max-content;
}

.imgs-grid-box img {
    width: 100%;
    display: block;
    height: 100%;
}

.section-last-carrd-img {
    background-image: url(./imgs/image\ 15.png);
    background-size: cover;
    background-position: center;
    min-height: 100vh;
}

.card_title--last {
    font-size: 24px;
    color: #000000;
    font-weight: 400;
}

.button {
    padding: 12px 47px;
    border: 1px solid #000000;
    background-color: #ffffff00;
    cursor: pointer;
}

.price {
    color: #000000;
    font-size: 24px;
    font-weight: 400;
}

.lastprice {
    opacity: 50%;
    text-decoration: line-through;
}

.last_card_trash {
    display: flex;
    justify-content: end;
    align-items: center;
    min-height: 100vh;
    gap:62px;
    background-position: left;
    margin-right: 240px;
}

.img-card-last-section {
    display: none;
    width: 100%;
}

.img-card-last-section img {
    width: 100%;
}

.nav-small {
    display: none;
}

@media screen and (max-width: 1440px) {
    .last_card_trash {
        margin-right: 140px;
    }
}

@media screen and (max-width: 1224px) {
    .last_card_trash {
        align-items: end;
        justify-content: center;
        margin-right: 0;
    }
    
    .container {
        max-width: 840px;
    }

    .grid-box-card {
        grid-template-columns: 400px 400px;
        gap: 40px;  
    }
    
    .imgs-grid-box{
        width: 400px;
        height: 735px;
    }
}

@media screen and (max-width: 992px) {
    .nav_list{
        gap: 70px
    }
    .list_item {
        font-size: 18px;
    }
}


@media screen and (max-width: 923px) {
    .container {
        max-width: 700px;
    }
    .box-text {
        font-size: 20px;
    }
    .grid-box-card {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .grid-box {
        display: flex;
        flex-direction: column-reverse;
        justify-content: start;
        align-items: start;
        gap: 30px;
    }
    .box-minivector {
        order: 1;
    }
}

@media screen and (max-width: 768px) {
    .nav_list{
        gap: 40px
    }
    .list_item {
        font-size: 14px;
    }
    .title_section1 {
        font-size: 32px;
    }
    .subtitle_section1 {
        font-size: 18px;
    }
    .box-text {
        font-size: 15px;
    }
    .container {
        max-width: 400px;
    }
    .imgbox img {
        width: 200px;
    }
    .box-minivector img {
        width: 50px;
    }
    .grid-box {
        gap: 10px;
    }
    .new h3{
        margin-left: 74px;
        font-size: 32px;
    }
    .new img {
        width: 80px;
    }
}

@media screen and (max-width: 576px) {
    .nav_list{
        gap: 20px
    }
    .list_item {
        font-size: 12px;
    }
    .section-last-carrd-img {
        background-image: none;
    }
    .img-card-last-section {
        display: inline-block;
        overflow: hidden;
        width: 759px;
    }
    .last_card_trash {
        min-height: 0;
        gap: 43px;
        margin-right: 0;
        margin-top: 22px;
    }
    .img-card-last-section {
        max-width: 576px;
    }
    .img-card-last-section img {
        max-width: 576px;
    }
}

@media screen and (max-width: 375px) {
    .container {
        max-width: 250px;
    }

    .img-card-last-section {
        max-width: 375px;
    }

    .card_title--last {
        font-size: 18px;
    }

    .imgs-grid-box {
        max-width: 250px;
        max-height: 400px;
    }

    .price {
        font-size: 18px;
    }

    .title_section1 {
        font-size: 24px;
    }

    .subtitle_section1 {
        font-size: 20px;
        text-align: center;
    }

    .nav_list {
        display: none;
    }
    
    .nav-small {
        display: flex;
        justify-content: start;
        align-items: center;
        gap: 100px;
    }

    .section-last-carrd-img {
        min-height: 0;
        min-width: 0;
    }
}